doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    link(
      href='assets/styles/style.css'
      rel="stylesheet"
      type="text/css"
    )
  body
    #App
    script(
      type="text/javascript"
      src='assets/scripts/app.js'
    )
    script(
      type="text/javascript"
      src='assets/scripts/page.js'
    )
